/*** Page Menu ***/
.menu{
    margin-top: 13em;
    
    &-img{
        img{
            object-fit: cover;
            /* Size */
            max-width: 1440px;
            width: 100%;
            height: 275px;
            /* Position */
            position: absolute;
            top: 63px;
            z-index: -1;
        }
    }

    &-content{
        background: $white-secondary;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        /* Position */ 
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }

    &-title{
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;

        h1{
            width: 341px;
            font-family: $font-logo;
            font-style: italic;
            font-weight: 400;
            font-size: 28px;
            line-height: 41px;

            /* Black */
            color: $black-secondary;
        }

        &-heart{
            &-checkbox{
                @extend .card-heart-checkbox;
            }

            &-label{
                @extend .card-heart-label;

                .fa-full{
                    animation: empty-heart 400ms ease;
                }
                .fa-empty, .fa-full{
                    position: absolute;
                    top: -17px;
                    right: 0;
                }
            }
        }
    }

    &-card{
        display: flex;
        flex-direction: column;
        gap: 40px;

        &-content, &-content1{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 0px;
            gap: 12px;

            width: 349px;
            height: 270px;
            animation: plate-appear 1s ease;

        }

        &-content1{
            height: 340px;
        }

        &-title{
            width: 275px;
            height: 30px;

            h2{
                position: relative;
                /* FONT */
                font-weight: 300;
                font-size: 16px;
                text-transform: uppercase;
                color: $black;
                
                &::after{
                    position: absolute;
                    display: block;
                    content: "";
                    width: 30px;
                    height: 2px;
                    /* Border */ 
                    border: 2px solid transparent;
                    border-bottom: 2px solid $green-secondary;
                }
            }
        }
        
        &-btn{
            margin: 10px 0 40px 0;  
            a{
                text-decoration: none;
                color: $white;    
            }
        }
    }

}