/*** Keyframes ***/
/* Loader */
@keyframes loader{
    0% { opacity: 1;}
    100% {opacity: 0;}	
}

@keyframes content-appear{
	0% {z-index: 0;}
	100%{z-index: 10000;}
}

@keyframes progress-img{
    0% {
        transform: scale(0);
        opacity: 0;

    }

    25% {
        transform: scale(0.3);
        transform: rotatex(180deg);
    }

    50% {
        transform: scale(0.6);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes progress-bar{
    0% {
        transform: scale(0);
    }

    25% {
        transform: scale(0.3);
    }

    50% {
        transform: scale(0.6);
    }

    100% {
        transform: scale(1);
    }
}


/* Heart */
@keyframes full-heart {
	0% {
		opacity: .5;
	}
	20% {
		opacity: .6;
	}
	40% {
		opacity: .7;
	}
	60% {
		opacity: .8;
	}
	80% {
		opacity: .9;
	}
	100% {
		opacity: 1;
	}
}

@keyframes empty-heart {
	0% {
		opacity: 1;
	}
	20% {
		opacity: .9;
	}
	40% {
		opacity: .8;
	}
	60% {
		opacity: .7;
	}
	80% {
		opacity: .6;
	}
	100% {
		opacity: 0.5;
	}
}

/* Plat */

 //CONTENT
@keyframes plate-appear {
    from {
      transform: scale(0);
	  opacity: 0;
    }

    to {
      transform: scale(1);
	  opacity: 1;
    }
}

// ARTICLE
@keyframes card-appear{
	0%{
		transform: scaleX(0);
		opacity: 0;
	}

	50%{
		transform: scaleX(0.3);
		opacity: 0;
	}

	100%{
		transform: scaleX(1);
		opacity: 1;
	}
}