// FONT
$font-body : 'Roboto', sans-serif;
$font-logo : 'Shrikhand', cursive;

// COLOR 

//WHITE
$white : #ffffff;
$white-secondary: #F7F7F7;
$white-tertiary: #EAEAEA;

// BLACK
$black : #000000;
$black-secondary: #101010;

// Grey
$grey: #353535;
$grey-secondary: #7E7E7E;

// GREEN
$green: #008766;
$green-secondary: #99E2D0;

// BUTTON - HEART
$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color-white: #F5EDFF;
$linear-gradient: linear-gradient(180deg, $secondary-color, $primary-color);